* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F7F7F7;
}

#map {
  height: 380px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}