* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F7F7F7;
}

 #map {
  width: 33.333333%;
  height: 100%;
  left: auto;
  right: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: block;
  background-color: #b1b1b1;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}